.bg-img{
    background-image: url('/images/first-section-background.jpg');
    background-size: 100% 100%;
}
.bg-opacity{ 
    background-color: rgba(27, 27, 25, 0.3);
}
.search-section-first{
background:rgba(218, 211, 211, 0.6);
}
.listing-section-first{
    background:rgba(218, 211, 211, 0.3);
    height: 405px;
}
.wrapper { 
    position: relative; 
} 
  
.wrapper img{ 
    position: absolute; 
    right: 10px; 
    top: 10px; 
    color: gray; 
    opacity: 0.5;
    width:30px;
    height: 30px;
} 
.bg-puple{
    background-color: purple;
    border:0;
}
.input-height{
    height: 50px;
}