.border-half{
    border-bottom:5px purple solid;
    position: absolute;
    top:50%;
    left:10%;
    width:50%;
}
.append-border{
    position:relative;
}
.purple{
    color:purple;
}
.bg-purple{
    background-color:purple;
}
.img-discount{
    position: relative;
}
.img-discount div{
    position: absolute;
    top:0;
    right:0;
}
.img-discount img{
    width:100%;
}
.cursor-pointer{
    cursor: pointer;
  }
.section-footer{
    background-color: #0B2239;
}
.subscribe-form>input{
    width:65%;
}
.subscribe-form>button{
    margin-left:-5px;
}
.register-modal-dialog{
    max-width: 800px !important;
}
#password-strong{
    height:20px;
    width:100%;
    background-color: lightgray;
}
.bg-upto-discount{
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, red , rgb(238, 93, 93));
}